body{
    font-family: arial;

}
#menu{
    /* border: 1px solid black; */
}

#menu > ul{
    background: #2c3e50;
}

#menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

#menu ul a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 15px;
    display: block;
}

#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

#menu ul li :hover {

background: #2ecc71;
/* display:block; */


}

#menu ul ul {
    position: absolute;
    background: #27ae60;
    top: 100%;
    left: 0;
    display: none; 
}

#menu ul ul li {
    float: none;
    width: 200px;
}

#menu ul ul li :hover{
    border-left: 3px solid #2c3e50;
}
#menu ul ul ul{
    top: -4px;
    left: 100%;
}

 #menu ul :hover > ul {
    display: block;
}